# Backend Dependencies
fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
python-multipart
pandas
openpyxl
pymupdf



